name: Lint Check

# on: [push, pull_request]

on:
  pull_request:
    branches:
      - main
jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18" # or your preferred version

      - run: pnpm install
      - run: pnpm run lint
      - run: pnpm run build
